.creator-all-title {
    color: var(--robert-black, #000);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* text-small */
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.4px; /* 131.429% */
}