.video-head-text {
    color: var(--grey-1, #747474);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* text-medium */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-head-all-cnt {
    border-radius: 20px;
    background: rgba(129, 114, 234, 0.06);
    padding: 10px;
    color: #8840E5;
    margin-left: 15px;
    margin-right: 40px;
}

.video-head-removed-cnt {
    border-radius: 20px;
    background: rgba(129, 114, 234, 0.06);
    padding: 10px;
    color: black;
    margin-left: 15px;
    margin-right: 40px;
}

.video-head-views-cnt {
    border-radius: 20px;
    background: rgba(129, 114, 234, 0.06);
    padding: 10px;
    color: black;
    margin-left: 15px;
}