.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .frame-wrapper {
  border: 0px none;
  height: 49px;
  width: 129px;
}

.box .frame {
  align-items: center;
  background-color: rgba(225, 220, 253, 1);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px;
  top: 0;
  width: 129px;
}

.box .light-button-instance {
  color: var(--purple-3) !important;
}
