.light-button {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  width: fit-content;
}

.light-button .marketing-automation {
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.light-button .default {
  color: var(--robert-black);
}

.light-button .variant-2 {
  color: green;
}
