.add-sbsg-title {
    color: var(--grey-1, #747474);

    /* text-micro */
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.sbsg-activeComment {
    color: #2F2F2F;

    /* text-medium */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sbsg-activeDescription {
    color: var(--grey-1, #747474);
    font-family: Work Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.sbsg-videos-gallery {
    color: #000;

    /* new-head-3 */
    font-family: Bauziet;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
}

.add-sbsg-gallery-title {
    color: #2F2F2F;

    /* text-medium-bold */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
}

.add-sbsg-gallery-ext {
    color: #8840E5;

    /* text-small */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.4px;
}

.uppy-Dashboard-inner {
    max-height: 250px !important;
}