.ModalAddLevel-title {
    color: #2F2F2F;

    /* text-medium */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ModalAddLevel-sub-title {
    color: #747474;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pwd-title {
    color: #000;
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.enter-new-password {
    color: var(--robert-black, #000);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* new-head-3 */
    font-family: Bauziet;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.enter-new-password-des {
    color: var(--grey-1, #747474);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* text-small */
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.4px; /* 131.429% */
}