:root {
  --green-1: rgba(0, 171, 95, 1);
  --grey-2: rgba(202, 202, 204, 1);
  --robert-black: rgba(0, 0, 0, 1);
  --robert-black-25: rgba(0, 0, 0, 0.25);
  --text-large-font-family: Work Sans;
  --text-large-font-size: 20px;
  --text-large-font-style: normal;
  --text-large-font-weight: 500;
  --text-large-letter-spacing: 0px;
  --text-large-line-height: normal;
  --text-medium-font-family: Work Sans;
  --text-medium-font-size: 16px;
  --text-medium-font-style: normal;
  --text-medium-font-weight: 500;
  --text-medium-letter-spacing: 0px;
  --text-medium-line-height: normal;
  --text-micro-font-family: Work Sans;
  --text-micro-font-size: 12px;
  --text-micro-font-style: normal;
  --text-micro-font-weight: 500;
  --text-micro-letter-spacing: 0px;
  --text-micro-line-height: normal;
  --text-small-font-family: Work Sans;
  --text-small-font-size: 14px;
  --text-small-font-style: normal;
  --text-small-font-weight: 500;
  --text-small-letter-spacing: 0px;
  --text-small-line-height: 18.399999618530273px;
  --white: rgba(255, 255, 255, 1);
  --grey-1: rgba(116, 116, 116, 1);
  --italic-14-font-family: "WorkSans-MediumItalic", Helvetica;
  --italic-14-font-size: 14px;
  --italic-14-font-style: italic;
  --italic-14-font-weight: 500;
  --italic-14-letter-spacing: 0px;
  --italic-14-line-height: 18.399999618530273px;
  --lightbackgroundpaper: rgba(255, 255, 255, 1);
  --lightotherdivider: rgba(76, 78, 100, 0.12);
  --text-extra-large-font-family: "WorkSans-SemiBold", Helvetica;
  --text-extra-large-font-size: 32px;
  --text-extra-large-font-style: normal;
  --text-extra-large-font-weight: 600;
  --text-extra-large-letter-spacing: 0px;
  --text-extra-large-line-height: normal;
  --text-medium-bold-font-family: Work Sans;
  --text-medium-bold-font-size: 16px;
  --text-medium-bold-font-style: normal;
  --text-medium-bold-font-weight: 500;
  --text-medium-bold-letter-spacing: 0px;
  --text-medium-bold-line-height: normal;
}
