.btn-add-sbsg {
    padding: 20px;
    border: 1px solid blue;
    color: blue;
    border-radius: 10px;
    cursor: pointer;
}

.question-title {
    color: var(--robert-black, #000);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* new-head-3 */
    font-family: Bauziet;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question-title-sub-info {
    color: var(--grey-2, #CACACC);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* text-medium */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.question-title-sub-value {
    color: #8840E5;
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* text-medium */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.question-title-index {
    color: var(--robert-black, #000);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* p-name */
    font-family: Bauziet;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question-title-wrapper {
    background-color: rgba(215, 185, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.question-sbsg-title {
    color: var(--robert-black, #000);
    font-kerning: none;
    font-feature-settings: 'clig' off, 'calt' off, 'liga' off;

    /* dialog-title */
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}